<html>
<header>
    <title>Welcome</title>
</header>
<body>
    <form action="/Welcome" method="POST">
    <label for="Name">Name:</label>
    <input type="text" name="name"><br><br>
    <label for="Password">Password:</label>
    <input type="password" name="password"><br><br>
    <label for="Age">Age:</label>
    <input type="text" name="age"><br><br>
    <label for="Phone No">Phone No:</label>
    <input type="text" name="phno"><br><br>
    <input type="submit" value="Done">
</form>
</body>
</html>